

<br>
<div style="width: 95%;margin: 30px;">
    <!-- table>
        <tr>
            <th>s.No</th>
            <th>Customer Name</th>
            <th>Gst Number</th>
            <th>Total Sales</th>
            <th>Make New Sale</th>
            

        </tr>

        <tr *ngFor="let customers of customerDetails" (click)="makeNewSale(customers.id)">
            <td>{{customers.sNo}}</td>
            <td>{{customers.name}}</td>
            <td>{{customers.gstNo}}</td>
            <td>{{customers.totalInvoiceCount}}</td>
            
            <td><button mat-button (click)="makeNewSale(customers.id)"><mat-icon color="primary">open_in_new</mat-icon></button></td>


        </tr>


    </table -->


    <p>
        <mat-form-field>
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
        </mat-form-field>
    </p>
    
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Serial no Column -->
        <ng-container matColumnDef="sNo">
          <mat-header-cell *matHeaderCellDef> S.No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sNo}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="gstNo">
          <mat-header-cell *matHeaderCellDef> GST IN </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.gstNo}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="totalInvoiceCount">
          <mat-header-cell *matHeaderCellDef> Total Sales </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.totalInvoiceCount}} </mat-cell>
        </ng-container>
    
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <!-- Button for create new sale to particular customer -->
            <button mat-icon-button type="button" style="padding: 2px;"
             matTooltip="Make New Sale for {{element.name}}"
              matTooltipPosition="above"
              matTooltipShowDelay="200"
              matTooltipHideDelay="200"
               (click)="makeNewSale(element);"><mat-icon style="color: green;">createt</mat-icon></button>
               &nbsp; 
               <!-- Button for View Totla sales of a particular customer -->
            <button mat-icon-button type="button" style="padding: 2px;"
             matTooltip="View All Sales of {{element.name}}"
            matTooltipPosition="above"
              matTooltipShowDelay="200"
              matTooltipHideDelay="200"
               (click)="viewSalesByGstNo(element);"><mat-icon style="color: rgb(31, 66, 161);">content_paste</mat-icon></button>
          </mat-cell>
          
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>



      <!-- <button type="button" (click)="sampleClick();">sample</button> -->

</div>