mat-sidenav-container
{
    height: 100%;
}

mat-sidenav, mat-sidenav-content
{
    
    width: 100%;
    height: 100%;
}

mat-sidenav
{
    background-color: rgb(51, 57, 110);
    width: 15%;
    
}
.active
{
    color: rgb(236, 8, 8);
   
}
p{
    color:white;
}
a{
    text-decoration: none;;
    color: white;
    font-size: 13px;
    padding: 3px;
}